#
# Copyright © 2021. TIBCO Software Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
apiVersion: v1
kind: Service
metadata:
  name: bpm-service
  namespace: ${K8SNAMESPACE}
  annotations: {}
spec:
  type: NodePort
  selector:
    app: bpm
    tier: backend
  ports:
  - protocol: TCP
    port: 8181
    targetPort: 8181
