#
# Copyright © 2021. TIBCO Software Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
apiVersion: v1
kind: Secret
metadata:
  name: bpm.ldap.secrets
  namespace: ${K8SNAMESPACE}
type: Opaque
data:
  LDAP_SYSTEM_PRINCIPAL: ${LDAP_DN_SECRET}
  LDAP_SYSTEM_CREDENTIALS: ${LDAP_CLOUD_ADMIN_PASSWORD_SECRET}
  LDAP_EASYAS_PRINCIPAL: ${LDAP_DN_SECRET}
  LDAP_EASYAS_CREDENTIALS: ${LDAP_CLOUD_ADMIN_PASSWORD_SECRET}
