#
# Copyright © 2021. TIBCO Software Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
apiVersion: v1
kind: Secret
metadata:
  name: bpm.database.secrets
  namespace: ${K8SNAMESPACE}
type: Opaque
data:
  JDBC_USERNAME: ${BPM_DB_USERNAME_SECRET}
  JDBC_PASSWORD: ${BPM_DB_PASSWORD_SECRET}
