#
# Copyright © 2021. TIBCO Software Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
kind: Namespace
apiVersion: v1
metadata:
  name: ${K8SNAMESPACE}
  labels:
    name: bpm
