<!--/*
* Copyright © 2021. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{pageTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid center >
        <ion-row style="width: 95%">
            <ion-col>
                <div #tibcoFormContainer>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>